<%- include('partials/header.ejs')%> <%- include('partials/navbar.ejs') %>

<h1><%= 'Welcome to Homepage'.toUpperCase() %></h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aliquam maxime
  ducimus asperiores fuga cum laboriosam saepe, cumque veniam minima voluptatem
  placeat quas repellat dolor rem libero consequatur. Sint, deserunt!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aliquam maxime
  ducimus asperiores fuga cum laboriosam saepe, cumque veniam minima voluptatem
  placeat quas repellat dolor rem libero consequatur. Sint, deserunt!
</p>

<%- include('partials/footer.ejs') %>
