<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First ejs templating</title>
  </head>
  <body>
    <h1><%= 'Welcome to Homepage'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aliquam
      maxime ducimus asperiores fuga cum laboriosam saepe, cumque veniam minima
      voluptatem placeat quas repellat dolor rem libero consequatur. Sint,
      deserunt!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aliquam
      maxime ducimus asperiores fuga cum laboriosam saepe, cumque veniam minima
      voluptatem placeat quas repellat dolor rem libero consequatur. Sint,
      deserunt!
    </p>
  </body>
</html>
