<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Form Input Comment</h2>
    <form action="/comments" method="post">
        <section>
            <label for="">Username</label>
            <input type="text" name="username">
        </section>
        <section>
            <label for="">Text</label>
            <input type="text" name="text">
        </section>
        <button type="submit">Submit</button>
        <a href="/comments"><button type="button">Cancel</button></a>
    </form>
</body>
</html>