<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Detail Data</h2>
    <h4>Data ID: <%= comment.id %></h4>
    <h5>Userame: <%= comment.username  %></h5>
    <p>Text: <%= comment.text  %></p>
    <a href="/comments"><button>Back</button></a>
</body>
</html>