<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Form Input Comment</h2>
    <form action="/comments/<%= comment.id %>?_method=patch" method="post">
      <!-- <input type="text" name="id" value="<% //comment.id %>" disabled hidden /> -->
      <!-- <section>
        <label for="">Username</label>
        <input
          type="text"
          name="username"
          value="<% //comment.username %>"
          disabled
        />
      </section> -->
      <section>
        <label for="">Text</label>
        <input type="text" name="text" value="<%= comment.text %>" />
      </section>
      <button type="submit">Submit</button>
    </form>
    <a href="/comments"><button type="button">Cancel</button></a>
  </body>
</html>
